Dockerfile
.dockerignore
docker-compose.yml

node_modules

.git
.gitignore
.eslintrc.json
.editorconfig

.DS_STORE
Thumbs.db

.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/*.csproj
**/*.cs
**/*.cshtml
Views
Controllers
**/*.Development.*
